<div class="container">
<div class="plan">
  <div class="pitch">
    <img class="pitch-bg" src="assets/pitch1.png" alt="football pitch">
  
    <!-- Players rendered on top of the pitch -->
  <div
  class="player"
  *ngFor="let p of pitchPlayers"
  cdkDrag
  [cdkDragBoundary]="'.pitch'"
  (cdkDragStarted)="onDragStart()"
  (cdkDragEnded)="onDragEnd($event, p)"
  (click)="!isDragging && selectPlayer(p)"
  [style.transform]="'translate(' + playerPositionsPx[p.id]?.x + 'px,' + playerPositionsPx[p.id]?.y + 'px)'"
>
      <img class="player-img" [src]="p.image" [alt]="p.name">
      <div class="underplayer">
      <mat-icon class="change-btn" (click)="changingPlayer = p">change_circle</mat-icon>
      
     <h2 class="player-name">{{ p.name }}</h2>
       </div>
    </div>
  </div>
</div>
 <app-player-details [player]="selectedPlayer"></app-player-details>

</div>
<app-squad-list 
  [players]="playersList" 
  (replacementSelected)="replacePlayer($event)">
</app-squad-list>












