<form [formGroup]="filtersForm" class="filters-container" (input)="onFilterInput($event)">
 
  <h6 class="head">Filters</h6>
  <div class="search">
    <mat-icon class="search-icon">search</mat-icon>
    <input 
      type="text"
      placeholder="Search by name"
      formControlName="name"
      (keyup.enter)="applyFilters()"
    />
  </div>

  <div class="filter-row">
    <label class="filter-label">Basic Information </label>
    <app-custom-dropdown
      formControlName="position"
      [options]="positionOptions"
      placeholder="Select Position"
      ariaLabel="Select position"
    ></app-custom-dropdown>
  </div>

  <div class="filter-row">
    <label class="filter-label">League</label>
    <app-custom-dropdown
      formControlName="league"
      [options]="leagueOptions"
      placeholder="Select league"
      ariaLabel="Select league"
    ></app-custom-dropdown>
  </div>

  <div class="filter-row">
    <label class="filter-label">Nationality</label>
    <app-custom-dropdown
      formControlName="nationality"
      [options]="nationalityOptions"
      placeholder="Select nationality"
      ariaLabel="Select nationality"
    ></app-custom-dropdown>
  </div>

  <div class="filter-row">
    <label class="filter-label">Club</label>
    <app-custom-dropdown
      formControlName="clubs"
      [options]="clubOptions"
      placeholder="Select club"
      ariaLabel="Select club"
    ></app-custom-dropdown>
  </div>

  <div class="filter-row">
    <label class="filter-label">Age</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="ageMin" placeholder="Min">
      <input class="max" type="number" formControlName="ageMax" placeholder="Max">
    </div>
  </div>

  <label class="attack_section">Playing Time : </label>

  <div class="filter-row">
    <label class="filter-label">MP</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="MP" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Starts</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Starts" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Minutes</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Minutes" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">90s</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Minutes90s" placeholder="Value">
    </div>
  </div>

  <label class="attack_section">Attacking statues : </label>

  <div class="filter-row">
    <label class="filter-label">Goals Scored</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="GoalsScored" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Assits Provided</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="AssitsProvided" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Goals + Assists</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="GPlusA" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Expected Goals (XG)</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="ExpectedGoals" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Expected Assistes (XAG)</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="ExpectedAssistes" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">NPxG</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="NpxG" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">G-PK</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="GMinusPK" placeholder="Value">
    </div>
  </div>

  <label class="attack_section">Defensive Stats : </label>

  <div class="filter-row">
    <label class="filter-label">Total Tackels</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="TotalTackels" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Tackles Won</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="TklW" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Blocks Made</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="BlocksMade" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Interceptions</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Interceptions" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Tackle + Interception</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="TklInt" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Clearances</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Clearances" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Errors</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Errors" placeholder="Value">
    </div>
  </div>

  <label class="attack_section">Passing &Creativity Stats : </label>

  <div class="filter-row">
    <label class="filter-label">Progressive passes</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Progressivepasses" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Progressive Carries</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="ProgCarries" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Key Passes</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="KeyPasses" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Passes Into the Penalty Area</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="PassesIntothePenaltyArea" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Touches</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Touches" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Carries</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Carries" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Progressive Runs Received</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="ProgRunsRec" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Miscontrols</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Miscontrols" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Dispossessed</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Dispossessed" placeholder="Value">
    </div>
  </div>

  <label class="attack_section">Goalkeeping stats : </label>

  <div class="filter-row">
    <label class="filter-label">Goals Against</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="GA" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Saves Made</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="SavesMade" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Save %</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="SavePct" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Clean Sheets</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="CleanSheates" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Clean Sheet %</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="CSPct" placeholder="Value">
    </div>
  </div>

  <label class="attack_section">Misc : </label>

  <div class="filter-row">
    <label class="filter-label">Yellow Cards</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="YellowCards" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Red Cards</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="RedCards" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">PK Won</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="PKWon" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">PK Conceded</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="PKCon" placeholder="Value">
    </div>
  </div>

  <div class="filter-row">
    <label class="filter-label">Recoveries</label>
    <div class="filter-inputs">
      <input class="min" type="number" formControlName="Recoveries" placeholder="Value">
    </div>
  </div>

  <div class="filter-submit">
    @if(Possinvalid){
      <button class="submit" [disabled]="Possinvalid" type="button" (click)="applyFilters()">Apply Filters</button>
      <h5>*please select a position or enter player name</h5>
    }@else {
      <button type="button" (click)="applyFilters()">Apply Filters</button>
    }
  </div>

</form>
