<div class="sidebar" [class.open]="isOpen" [class.overlay-mode]="overlayMode">
    
    <div class="logo">
      <img src="assets/Project logo.png"alt="AXIS Logo" />
      
    </div>

    <nav>
      <ul>
        <li routerLink="/program/dashboard" routerLinkActive="active" (click)="requestClose()">
            <mat-icon class="icon">trending_up</mat-icon>
        
          <span class="nav-label">Dashboard</span>
        </li>

        <li routerLink="/program/squad-planning" routerLinkActive="active" (click)="requestClose()"
        >
          <mat-icon class="icon">crop_rotate</mat-icon>
          <span class="nav-label">Squad planning</span>
        </li>
         <li routerLink="/questions" routerLinkActive="active" (click)="requestClose()"
        >
          <mat-icon class="icon">dynamic_form</mat-icon>
        <span class="nav-label">questions</span>
        </li>
        <li routerLink="/program" routerLinkActive="active" (click)="requestClose()"
        [routerLinkActiveOptions]="{exact:true}">
         <mat-icon class="icon">search</mat-icon>
          <span class="nav-label">Scouting</span>
        </li>

        
        <li routerLink="/program/short-list" routerLinkActive="active" (click)="requestClose()">
          <mat-icon class="icon">checklist</mat-icon>
          <span class="nav-label">Short List</span>
        </li>


        <li routerLink="/program/repots" routerLinkActive="active" (click)="requestClose()">
          <mat-icon class="icon">assignment</mat-icon>
          <span class="nav-label">Reports</span>
        </li>
      </ul>
    </nav>

</div>

