<div class="squad-table-card">
  <p class="squad-list-title">SQUAD LIST</p>

  <div class="squad-rows">
    <div class="squad-header">
      <div>Player</div>
      <div>Position</div>
      <div>Age</div>
      <div>Nationality</div>
      <div>Matches</div>
      <div>Change</div>
    </div>

    <div class="squad-row" *ngFor="let player of players">
      <div class="player-cell">
        <img [src]="player.image" [alt]="player.name" class="player-image">
        <span>{{ player.name }}</span>
      </div>
      <div ><span class="pos">{{ player.position }}</span></div>
      <div>{{ player.age }}</div>
      <div>{{ player.nationality }}</div>
      <div>{{ player.matchesPlayed }}</div>
      <div>
        <button
          (click)="selectReplacement(player)"
          [disabled]="isInFormation(player)">
          {{ isInFormation(player) ? 'Selected' : 'Select' }}
        </button>
      </div>
    </div>
  </div>
</div>