.container{
width: 95%;
margin-top: 60px;

}
section{
height: 400px;
width: 75%;
margin: 20px;
color: white;
padding: 30px;
border: 3px solid #28c76f;
border-radius: 20px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a{
    transition: all 0.3s;
    color: #28c76f;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    text-decoration: underline;
    position: relative;
}
a:hover{
   
 color: #0f9e50;
}
p{
    padding-top: 30px;
    font-size: 19px;
}
section:hover{
    cursor: pointer;
     transform: translateY(-10px); /* يطلع لفوق */
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}